= form_for(@dept) do |f|
  - if @dept.errors.any?
    #error_explanation
      %h2= pluralize(@dept.errors.count, "error")
      prohibited this from being saved:

      %ul
      - @dept.errors.full_messages.each do |msg|
        %li
          error
          = msg

  .field
    = f.label :Department
    %br
    = f.text_field :name

  .actions
    = f.submit "go"

