%h1= "DEPARTMENTS"

- @depts.each do |d|
  %li= d.name

  %p= link_to 'edit', @dept, :method => :get
  %p= link_to 'destroy', :method => :delete, :data => { :confirm => 'Really?!?' }

%p= link_to "ADD NEW", { :action => 'new' }
    